<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fayu.Qa.Selenium.Framework" version="2.0.2" targetFramework="net452" />
  <package id="JetBrains.Annotations" version="11.1.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="PostSharp" version="5.0.41" targetFramework="net452" developmentDependency="true" />
  <package id="PostSharp.Patterns.Aggregation" version="5.0.41" targetFramework="net452" developmentDependency="true" />
  <package id="PostSharp.Patterns.Aggregation.Redist" version="5.0.41" targetFramework="net452" />
  <package id="PostSharp.Patterns.Common" version="5.0.41" targetFramework="net452" developmentDependency="true" />
  <package id="PostSharp.Patterns.Common.Redist" version="5.0.41" targetFramework="net452" />
  <package id="PostSharp.Patterns.Model" version="5.0.41" targetFramework="net452" developmentDependency="true" />
  <package id="PostSharp.Patterns.Model.Redist" version="5.0.41" targetFramework="net452" />
  <package id="PostSharp.Redist" version="5.0.41" targetFramework="net452" />
  <package id="Selenium.Support" version="3.8.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.8.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.34.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.Extensions" version="3.1.1" targetFramework="net452" />
  <package id="Selenium.WebDriver.Extensions.QuerySelector" version="1.1.166" targetFramework="net452" />
  <package id="Selenium.WebDriver.Extensions.Shared" version="1.1.166" targetFramework="net452" />
  <package id="SimpleInjector" version="4.0.12" targetFramework="net452" />
</packages>