<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fayu.Qa.Selenium.Framework" version="2.0.2" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net452" />
  <package id="Selenium.Support" version="2.45.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="2.45.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.15.0.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.Extensions" version="1.5.457" targetFramework="net452" />
  <package id="Selenium.WebDriver.Extensions.Core" version="1.5.457" targetFramework="net452" />
  <package id="Selenium.WebDriver.Extensions.JQuery" version="1.5.457" targetFramework="net452" />
  <package id="Selenium.WebDriver.Extensions.QuerySelector" version="1.1.166" targetFramework="net452" />
  <package id="Selenium.WebDriver.Extensions.Shared" version="1.1.166" targetFramework="net452" />
  <package id="Selenium.WebDriver.Extensions.Sizzle" version="1.5.457" targetFramework="net452" />
</packages>