<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fayu.Qa.Selenium.Framework" version="2.0.2" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="Selenium.Support" version="3.0.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.0.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.25.0.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.Extensions" version="2.0.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.Extensions.QuerySelector" version="1.1.166" targetFramework="net452" />
  <package id="Selenium.WebDriver.Extensions.Shared" version="1.1.166" targetFramework="net452" />
</packages>