[
    {
        "id": "1",
        "descricao": "SantanderSite",
        "nomeAcesso": "SantanderSite",
        "configuracoes": [
            {
                "id": "1",
                "nome": "CPF",
                "valor": "12345678901"
            },
            {
                "id": "1",
                "nome": "Senha",
                "valor":  "123456"
            }
        ]
    },
    {
        "id": "2",
        "descricao": "CEFSiteFisico",
        "nomeAcesso": "CEFSiteFisico",
        "configuracoes": [
            {
                "id": "1",
                "nome": "usuario",
                "valor": "seuusuario"
            },
            {
                "id": "2",
                "nome": "senha",
                "valor":  "123456"
            }
        ]
    },
    {
        "id": "3",
        "descricao": "CEFSiteJuridico",
        "nomeAcesso": "CEFSiteJuridico",
        "configuracoes": [
            {
                "id": "1",
                "nome": "usuario",
                "valor": "seuusuario"
            },
            {
                "id": "2",
                "nome": "senha",
                "valor":  "123456"
            }
        ]
    },
    {
        "id": "4",
        "descricao": "BanestesSite",
        "nomeAcesso": "BanestesSite",
        "configuracoes": [
            {
                "id": "1",
                "nome": "usuario",
                "valor": "seuusuario"
            },
            {
                "id": "2",
                "nome": "senha",
                "valor":  "123456"
            }
        ]
    }
]