<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="11.1.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net452" />
  <package id="PostSharp" version="5.0.49" targetFramework="net452" developmentDependency="true" />
  <package id="PostSharp.Patterns.Aggregation" version="5.0.49" targetFramework="net452" developmentDependency="true" />
  <package id="PostSharp.Patterns.Aggregation.Redist" version="5.0.49" targetFramework="net452" />
  <package id="PostSharp.Patterns.Common" version="5.0.49" targetFramework="net452" developmentDependency="true" />
  <package id="PostSharp.Patterns.Common.Redist" version="5.0.49" targetFramework="net452" />
  <package id="PostSharp.Patterns.Model" version="5.0.49" targetFramework="net452" developmentDependency="true" />
  <package id="PostSharp.Patterns.Model.Redist" version="5.0.49" targetFramework="net452" />
  <package id="PostSharp.Redist" version="5.0.49" targetFramework="net452" />
  <package id="Selenium.Support" version="3.11.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.11.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.37.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.Extensions" version="3.1.1" targetFramework="net452" />
  <package id="SimpleInjector" version="4.1.0" targetFramework="net452" />
  <package id="WebDriverIEDriver" version="2.45.0.0" targetFramework="net452" />
</packages>